.layout {
  display: flex;
  gap: 16px;
  height: 100%;
  padding: 24px;
}

.title {
  padding: 0 8px 8px 0;
}

.form-container {
  flex: 0 0 25%;
  border-radius: 8px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.emojis-container {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-auto-rows: 1fr;
}

.emoji-card {
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
}

.emoji-placeholder {
  text-align: center;
  font-size: 24px;
  margin: 8px 0;
}

.emoji-detail {
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
  margin: 8px 4px;
}

.search {
  width: 100%;
}

.results-container {
  padding: 16px;
  height: 100%;
  overflow: auto;
  flex: 1 1 auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.card-border {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-radius: 8px;
  height: 100%;
  transition: all 0.1s ease-in;

  &:hover {
    transform: scale(1.1);
  }
}

.emojis-group:not(:nth-child(1)) {
  margin-top: 42px;
}

.select-items {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  align-items: center;

  select {
    flex: 1 1 auto;
  }
}
